.js-git-clone-holder.input-group.btn-group
  .input-group-prepend
    - if allowed_protocols_present?
      .input-group-text.clone-dropdown-btn.btn
        %span.js-clone-dropdown-label
          = enabled_protocol_button(container, enabled_protocol)
    - else
      %a#clone-dropdown.input-group-text.gl-button.btn.btn-default.btn-icon.clone-dropdown-btn{ href: '#', data: { toggle: 'dropdown', qa_selector: 'clone_dropdown' } }
        %span.js-clone-dropdown-label
          = default_clone_protocol.upcase
        = sprite_icon('chevron-down', css_class: 'gl-icon')
      %ul.dropdown-menu.dropdown-menu-selectable{ data: { qa_selector: 'clone_dropdown_content' } }
        %li
          = ssh_clone_button(container)
        %li
          = http_clone_button(container)
        = render_if_exists 'shared/kerberos_clone_button', container: container

  = text_field_tag :clone_url, default_url_to_repo(container), class: "js-select-on-focus btn gl-button", readonly: true, aria: { label: _('Repository clone URL') }, data: { qa_selector: 'clone_url_content' }
  .input-group-append
    = clipboard_button(target: '#clone_url', title: _("Copy URL"), class: "input-group-text gl-button btn-default btn-clipboard")

